@model RegisterUserViewModel
@{
    ViewData[ViewDataKeys.Title] = "Register";
}

@section scripts
{
    @{ await Html.ValidationScripts(); }
    <script src='https://www.google.com/recaptcha/api.js'></script>
}

<div class="ui divided stackable two column grid">
    <div class="column">
        <h4>
            Register a new account
        </h4>
        <form class="ui form" method="post" asp-area="Account" asp-controller="Home" asp-action="Register">
            <div asp-validation-summary="All"></div>
            <div class="field">
                <label asp-for="Username"></label>
                <div class="ui input left icon">
                    <input asp-for="Username" />
                    <i class="icon user"></i>
                </div>
                <span asp-validation-for="Username"></span>
            </div>
            <div class="field">
                <label asp-for="Email"></label>
                <div class="ui input left icon">
                    <input asp-for="Email" />
                    <i class="icon envelope"></i>
                </div>
                <span asp-validation-for="Email"></span>
            </div>
            <div class="field">
                <label asp-for="Password"></label>
                <div class="ui input left icon">
                    <input asp-for="Password" />
                    <i class="icon asterisk"></i>
                </div>
                <span asp-validation-for="Password"></span>
            </div>
            <div class="field">
                <label asp-for="ConfirmPassword"></label>
                <div class="ui input left icon">
                    <input asp-for="ConfirmPassword" />
                    <i class="icon asterisk"></i>
                </div>
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <div class="field">
                <div class="g-recaptcha" data-sitekey="6Le-tCcTAAAAAN-JM8rfT-LxDhcTvOhtMxp1QR-h"></div>
            </div>
            <button type="submit" class="ui button primary">
                Register
            </button>
        </form>
    </div>
    <div class="column">
        <h4>
            Register with another service
        </h4>
        @{ await Html.RenderPartialAsync("ExternalLogins"); }
    </div>
</div>