<div class="ui divided stack two column grid">
    <div class="column">
        <h4>
            Register a new account
        </h4>
    </div>
    <div class="column">
        <h4>
            Register with another service
        </h4>
    </div>
</div>