<div class="ui stackable divided two column grid">
    <div class="column">
        <h4>
            Sign in using a local account
        </h4>
    </div>
    <div class="column">
        <h4>
            Sign in using another service
        </h4>
    </div>
</div>