@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>

<div class="message">
    <strong>
        <u>A Note to New Applicants:</u>
    </strong>
    <br />
    <br />
    A lot of you have come here because of our wow.insider interview. That interview was published back in
    2013, and since then the guild has changed a bit. In the effort of fairness, and dispel any thoughts
    of false advertising, here is a small list of changes that have happened since.
    <br /><br />
    <ul>
        <li>
            <strong>
                We are no longer Blood Elf exclusive.
            </strong>
            We decided to take our guild in a different direction about half-way through MoP. Our love is
            largely focused around the Eastern Kingdoms Horde races, so we decided to remove the racial
            restriction. We now focus our RP on Forsaken and Blood Elves, but any race may join so long
            as they have a convincing reason as to why they would care about the Eastern Kingdoms.
        </li>
        <li>
            <strong>
                We are no longer affiliated with the Scythe of Sylvanas, Kalimdor Mercenaries, or Warforged Legacy
            </strong>.
        </li>
        <li>
            <strong>
                We have a growing sister guild on the Alliance side of Wyrmrest Accord,"EK Liberators".
            </strong>
        </li>
    </ul>
    <br />
    <strong>
        <u>OOC Mission Statement:</u>
    </strong>
    <br />
    <br />
    While there are many other good guilds out there, we try to offer our guild mates an experience that
    (it seems) not many others offer. Aside from the frivolous, such as guild mumble and Minecraft server,
    we have always tried to be more of a gaming family, than a business.
    <br />
    <br />
    <ul>
        <li>
            Guild members frequently visit other games together. We have established
            guilds/clans/corporations in numerous different games. (Minecraft, EVE online, League of Legends,
            SWTOR, The Secret World, Mass Effect 3, Team Fortress 2, Diablo 3, Guild Wars 2, FFXIV, etc.)
        </li>
        <li>
            We make a genuine effort to make everyone feel at home and welcome. If you've ever been in a
            giant guild with people always online and being active, and you've been ignored because you
            weren't 'popular' or part of the guild clique, we feel for you. That will never happen in our
            guild. Most of us come from guilds like that, we want to create a friendly atmosphere where you
            can enjoy this multiplayer game with pleasant people. No one wants to play an MMO alone.
        </li>
        <li>
            We do not tolerate hate speech, use of trigger words or topics, or general rude dispositions.
            We never have.
        </li>
        <li>
            We strive to create interesting guild RP events, and have recently resurrected our 'mentor'
            system, where each player and character has a unique story line and opportunities to grow and
            progress in character.
        </li>
    </ul>
    <br />
    <strong>
        <u>IC Mission:</u>
    </strong>
    <br />
    <br />
    <u>
        <em>
            <strong>Current Mission/Plot:</strong>
        </em>
    </u>
    <br /><br />
    With the Iron Horde pouring from the Dark Portal, another threat made itself known to the citizens of
    Azeroth. Through methods unknown, untainted Orcs mobilized with technology only recently seen in the
    Siege of Orgrimmar invaded the Blasted Lands, taking Okril'lon Hold and Nethergarde Keep. The Alliance
    and Horde forces retaliated, and after a brief period of resistence, were able to push the Iron Horde
    back into the portal.
    <br />
    <br />
    The days leading up to the expedition to Draenor left Selama Ashal'anore, like many similar organizations,
    with a hard choice. Some other groups commanded their people into the portal, others ignored the call to
    action. Tholmai Lightbreaker, one of the leaders of Selama Ashal'anore, requested volunteers. To his
    surprise, a good number of his most trusted friends and allies stepped up and chose to depart Azeroth.
    <br />
    <br />
    The initial plan was to invade and destroy the Dark Portal from the Iron Horde's side, and with that,
    any chance of return was unknown. It was a heavy request, and one not treated lightly.
    <br />
    <br />
    Once through the portal, the chain of events that unfolded wound up scattering Selama Ashal'anore. For
    weeks, each member treaded across the unfamiliar and <strong>SAVAGE</strong> planet, the fates of their
    companions unknown. <br /><br />That was up until a fortress was constructed in Frostfire Ridge, bearing the
    guild's banner. A rallying point for any wayward forces, as it were. As the weeks passed by, one by one,
    most of the brave members of the guild trickled in. Even so, there were a good many that were
    unaccounted for. Before the Iron Horde could be dealt with, they needed to recover their numbers.
    <br />
    <br />
    Back on Azeroth, Tholmai Lightbreaker, suddenly realizing that the majority of his organization had
    decided to venture into Draenor, began plotting up recruitment initiatives. Even though the threat of
    the Iron Horde was significant in its own right, the Horde territories in the Eastern Kingdoms still
    had its enemies.
    <br /><br />
    <em>
        <u>
            <strong>Pre-WoD mission:</strong>
        </u>
        <br />
        <br />
        In the wake of the Siege, despite King Wrynn's decision to allow the Horde to get back on their feet,
        it's a real possibility that not all of the Alliance agrees with their King. Most factions still
        hate the Horde, and want to capitalize on their moment of weakness to wipe them from the face of
        Azeroth. With Orgrimmar, the heart of the Horde in shambles, if the Horde territories in the Eastern
        Kingdoms were to ever come under attack, who could defend them?
        <br />
        <br />
        Lordaeron and Quel'thalas have always been geographically close, they share a common tragedy in
        Arthas the Defiler. While not the best of events to tie two nations together, it has and the bond
        of the Forsaken and Sin'dorei will ever be present.
        <br />
        <br />
        That is why Selama Ashal'anore changed its mission. In present times, they are a metaphoric
        island in a sea ruled by the Alliance. The Forsaken and the Sin'dorei, along with any allies who
        would choose to aid them, must stand together to protect their precious homelands.
    </em>
    <br />
    <br />
    <em>
        <strong>
            <u>Cataclysm-MoP mission:</u>
        </strong>
    </em>
    <br />
    <br />
    <em>
        After the Northrend Campaign came to a close and the Sin'dorei were allowed a moment to recover
        from the horrific events of the Third War, Tholmai Lightbreaker set out to assist Quel'thalas and
        all of its citizens regroup and move forward. Shortly after taking up this personal mission, he was
        pleasantly surprised to find individuals at every turn willing to take on this mission with him.
        Together, they search all corners of Azeroth and Outland for the lost children of Quel'thalas, to
        offer them aid and other assistance in recovering from the near extinction of their people. While
        some of the Sin'dorei may allow petty political squabbles to divide their people, Tholmai and his
        companions acknowledge the need to lay down such petty motives and unite as one people, lest they
        collapse in on themselves and succumb to extinction.
    </em>
</div>
