@{
    ViewData["Title"] = "Home Page";
}

<router-outlet name="menu"></router-outlet>
<root-app>
    <div class="text-center">
        <span class="fa fa-circle-o-notch fa-spin fa-4x"></span>
    </div>
</root-app>
<router-outlet name="footer"></router-outlet>