<dropdown bs-render-tag="li" bs-title="Admin">
    <dropdown-item>
        <a asp-area="Admin" asp-controller="Users" asp-action="Index">
            Manage users
        </a>
    </dropdown-item>
</dropdown>