@using Microsoft.AspNetCore.Identity
@using Selama.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <dropdown bs-title="Hello @UserManager.GetUserName(User)!" bs-render-tag="li">
                <dropdown-item>
                    <a asp-area="" asp-controller="Manage" asp-action="Index">
                        <i class="fa fa-cogs fa-icontext"></i> Manage
                    </a>
                </dropdown-item>
                <dropdown-item>
                    <a href="javascript:document.getElementById('logoutForm').submit()">
                        <i class="fa fa-sign-out fa-icontext"></i>
                        Sign out
                    </a>
                </dropdown-item>
            </dropdown>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Register">
                <i class="fa fa-external-link fa-icontext"></i>
                Register
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Login">
                <i class="fa fa-sign-in fa-icontext"></i>
                Sign in
            </a>
        </li>
    </ul>
}
