@using Microsoft.AspNetCore.Identity
@using Selama.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Register">
                <i class="fa fa-external-link fa-icontext"></i>
                Register
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Login">
                <i class="fa fa-sign-in fa-icontext"></i>
                Log in
            </a>
        </li>
    </ul>
}
