@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Selama</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (SignInManager.IsSignedIn(User))
                {

                }
                else
                {
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <dropdown bs-title="Sample" bs-render-tag="li">
                        <dropdown-item>
                            <a href="#1">
                                Item 1
                            </a>
                        </dropdown-item>
                        <dropdown-item>
                            <a href="#2">
                                Item 2
                            </a>
                        </dropdown-item>
                    </dropdown>
                }
            </ul>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>
</div>