* {
  position: relative;
}

html,
body {
  height: 100%;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}

.checkbox input[type='checkbox'] {
  margin-left: 0;
}

.form-horizontal .control-label {
  padding-top: 0;
}

.post-options-list {
  float: right;
  margin-top: 8px;
  margin-bottom: 0;
}

.post-options-list li {
  display: inline-block;
}

.post-options-list li > a.btn {
  font-size: 12px;
  padding: 4px 8px;
}

.btn.btn-icontext > .fa {
  margin-right: 8px;
}

.fa.fa-icontext {
  margin-right: 8px;
}

.fa.fa-thumb-tack {
  transform: rotate(45deg);
}

.btn-battlenet {
  background-color: #3d515e;
  color: #e9e9e9;
}

.btn-battlenet > :first-child {
  color: #00b5f0;
}

.btn-battlenet:hover {
  background-color: #1d313e;
  color: #f2f2f2;
}

/* #region Bootstrap navbar style overrides */
.container-fluid .row {
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 768px) {
  .container-fluid .navbar-right {
    margin-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar .container {
    width: auto;
  }
  .navbar .container,
  .navbar .container-fluid {
    max-width: none;
  }
  .navbar .container > .navbar-header,
  .navbar .container > .navbar-collapse,
  .navbar .container-fluid > .navbar-header,
  .navbar .container-fluid > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: auto;
  }
  .navbar-header,
  .navbar-right {
    float: none !important;
  }
  .navbar-right {
    margin-right: 0;
  }
  .navbar-toggle {
    display: block;
    margin-right: 0;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
    height: auto !important;
    overflow-x: visible !important;
    overflow-y: auto !important;
  }
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    padding: 5px 15px 5px 25px;
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #999;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
    background-image: none;
  }
}

.navbar-header {
  z-index: 100;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .jumbotron {
    padding: 30px 15px !important;
    border-radius: 6px;
  }
  .jumbotron h1 {
    font-size: 36px;
  }
}

/* #endregion */
/* #region SpinShield */
.spin-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px;
  display: inline-block;
  z-index: 9999;
  height: 100%;
  width: 100%;
  background-color: rgba(35, 35, 35, 0.65);
}

.spin-wrapper .spin-wrapper-inner {
  top: 25%;
  padding: 12px;
  text-align: center;
}

.spin-wrapper .spin-wrapper-inner .fa {
  color: #ccc;
}

@media (min-width: 768px) {
  .spin-wrapper .spin {
    height: 178px;
    width: 178px;
  }
}

/* #endregion */
#AlertModal {
  background-color: rgba(63, 63, 63, 0.75);
}

/* #region Pager */
.row.pager-row {
  margin: 12px 0;
}

.row.pager-row .pager {
  margin: 0;
  font-size: 12px;
}

.row.pager-row .pager > li {
  vertical-align: bottom;
}

.row.pager-row .pager.pager-right {
  text-align: right;
}

.row.pager-row .pager .pager-btn > a {
  border-radius: 4px;
}

/* #endregion */
.row.thread-reply[data-thread-reply].last .panel {
  margin-bottom: 0;
}

@media (min-width: 990px) {
  .modal-lg {
    width: 900px;
  }
}

.user-overview-row[data-user-active="False"] td {
  text-decoration: line-through;
  color: #777;
}

.user-overview-row[data-user-active="False"] td .text-danger {
  color: #C49A99;
}

.user-overview-row[data-user-active="False"] td .text-success {
  color: #B4CBB4;
}

.alert.alert-icontext {
  display: table;
}

.alert.alert-icontext > * {
  display: table-cell;
  vertical-align: middle;
}

.alert.alert-icontext .fa {
  width: 35px;
}

blockquote {
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

blockquote .quote-head p,
blockquote .quote-head div {
  display: inline-block;
}

blockquote .quote-head .quote-post-date {
  font-size: 12px;
  float: right;
}

.mdd_preview img,
.thread-content img {
  max-width: 100%;
}

.anchor {
  position: absolute;
  top: -70px;
  cursor: none;
}

.anchor:focus {
  outline: none;
}

.table.table-fixed-col.active {
  position: absolute;
  display: inline-block;
  width: auto;
  z-index: 2;
  /* Z-index to remove "transparency" of table with it's original*/
}

.table.table-fixed-col.active tr th,
.table.table-fixed-col.active tr td {
  /* Remove transparency of th tags */
  background: white;
}

.table.table-fixed-col.active tr:nth-of-type(odd) {
  background: #f9f9f9;
}

#socialLoginList p .btn.btn-social:not(:first-child) {
  margin-top: 10px;
}

#GuildNewsPanel .panel-body {
  padding: 0;
  height: 200px;
}

#GuildNewsPanel .panel-body .container-fluid {
  padding: 0;
}

#GuildNewsPanel .panel-body .table-wrapper {
  height: 100%;
  overflow-y: auto;
}

#GuildNewsPanel .panel-body .table-wrapper .row {
  padding-top: 12px;
  padding-bottom: 12px;
}

.item::before,
.achievement::before {
  content: "[";
  position: relative;
}

.item::after,
.achievement::after {
  content: "]";
  position: relative;
}

.item.q2 {
  color: #4cae4c !important;
}

.achievement {
  color: #ffb100;
}

.table,
.table-responsive {
  position: unset;
}

.container.container-striped .row:nth-of-type(odd),
.container-fluid.container-striped .row:nth-of-type(odd) {
  background-color: #f9f9f9;
}
