@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData[ViewDataKeys.Title] = $"Admin - {ViewData["Title"]}";
    Stack<Breadcrumb> breadcrumbs = ViewData[ViewDataKeys.Breadcrumbs] as Stack<Breadcrumb>;
}

@section styles
{
    @RenderSection("styles", false)
}

<h2>
    Admin
</h2>

<guilded-breadcumbs />

@RenderBody()

@section scripts
{
    @RenderSection("scripts", false)
}