.main.menu {
  min-width: 200px;
  max-width: 200px;
  min-height: 100%;
}
.main.menu .item .fa {
  margin-right: 10px;
}
.main.menu .item.brand {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.main.menu .item.dropdown .menu .item a {
  color: rgba(0, 0, 0, 0.87) !important;
}
.sidebar.main.menu {
  z-index: 5;
}
.sidebar.main.menu.visible {
  overflow: visible !important;
}
.pusher-content-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.pusher-content-wrapper .full.height {
  display: flex;
  min-height: 100%;
}
.pusher-content-wrapper .full.height .menu.main {
  position: relative;
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .pusher-content-wrapper .full.height .menu.main {
    display: none;
  }
}
@media (min-width: 768px) {
  .pusher-content-wrapper .full.height .menu.fixed.top.mobile {
    display: none;
  }
}
.pusher-content-wrapper .full.height .main-content {
  flex: 1 1 auto;
  margin: 0 18px;
  padding: 15px 10px;
}
@media (max-width: 767px) {
  .pusher-content-wrapper .full.height .main-content {
    margin: 0 10px;
    padding-top: 72px;
  }
}