html,
body {
  height: 100%;
}
.segment.warning {
  border-style: solid;
  border-width: 1px;
  color: #9f3a38;
  border-color: #e0b4b4;
  background-color: #fff6f6;
}
.segment.success {
  border-style: solid;
  border-width: 1px;
  color: #3c763d;
  border-color: #d0e9c6;
  background-color: #dff0d8;
}
.container.footer {
  margin-top: 15px;
}