@{
    ViewData[ViewDataKeys.Title] = "Access Denied";
}

<h3>
    Access Denied
</h3>
<p>
    It appears you do not have the necessary permissions to access that page or resource. If you believe
    that is an error please contact an officer or administrator.
</p>