@model CreateReplyViewModel

<form id="create-reply" class="ui form" asp-antiforgery="true" data-ajax-url="@Url.Action("PostNewReplyToThread", "Replies", new { area = "Forums", threadId = Model.ThreadId })"
      data-ajax="true" data-ajax-method="post" data-ajax-success="onPostReplySuccess" data-ajax-failure="onPostReplyError"
      data-ajax-begin="onPostReplyBegin">
    <div class="content">
        <input asp-for="ThreadId"/>
        <div asp-validation-summary="All"></div>
        <markdown-editor/>
        <div class="field">
            <span asp-validation-for="Content"></span>
        </div>
    </div>
    <div class="actions">
        <button type="submit" class="ui primary button">Post</button>
        <div class="ui red cancel button">
            Cancel
        </div>
    </div>
</form>