@model CreateReplyViewModel

<form class="ui form" data-action="@Url.Action("PostNewReplyToThread", "Replies", new {area = "Forums", threadId = Model.ThreadId})"
      data-ajax="true" data-ajax-method="post" asp-antiforgery="true">
      <markdown-editor />
      <button type="submit" class="ui primary button">Post</button>
</form>