@model IForumPost

@if (!Model.IsLocked)
{
    <a role-claim-protected required-claim="@RoleClaimValues.ForumsWriter" class="quote" asp-fragment="create-reply">
        <i class="comment icon"></i> Quote
    </a>

    if (Model.IsUserTheAuthor(User))
    {
        <a role-claim-protected required-claim="@RoleClaimValues.ForumsWriter" class="delete" asp-fragment="delete">
            <i class="trash icon"></i> Delete
        </a>
    }
}