@{
    ViewData[ViewDataKeys.Title] = "Forums";
    var content = @"### Hello, world!

**
block bold

yup
**";
}

<h2>
    Forums
</h2>

<guilded-breadcumbs />

<form class="ui form">
    <markdown-editor content="@content" />
</form>