.ui
{
    &#roles-list
    {
        .title
        {
            display: flex;
            cursor: default;

            .name
            {
                flex: 1;
                margin-right: 15px;
                cursor: pointer;
            }

            .options
            {
                .button
                {
                    margin-left: 8px;
                }
            }
        }
    }

    &.form
    {
        .field
        {
            .inline.label
            {
                label
                {
                    display: inline-block;
                    color: rgba(0,0,0,0.87);
                    font-size: 0.929em;
                    font-weight: bold;
                    margin: 0em 0em 0.28571429rem 0em;
                }

                .ui.help.button
                {
                    margin-left: 5px;
                    padding: 4px;
                }
            }
        }
    }
}
