@model IMarkdownContent
 
<div class="markdown-editor" data-markdown-action="@ViewData[ViewDataKeys.MarkdownAction]">
    <div class="markdown-toolbar">
        <div class="ui compact buttons">
            <div class="ui icon button" data-markdown-action="bold" title="Bold">
                <i class="bold icon"></i>
            </div>
            <div class="ui icon button" data-markdown-action="italic" title="Italic">
                <i class="italic icon"></i>
            </div>
            <div class="ui icon button" data-markdown-action="header" title="Header">
                <i class="header icon"></i>
            </div>
        </div>
        <i class="separator">|</i>
        <div class="ui compact buttons">
            <div class="ui icon button" title="Quote" data-markdown-action="quote">
                <i class="fa-quote-left icon"></i>
            </div>
            <div class="ui icon button" title="Unordered list" data-markdown-action="ul">
                <i class="fa-list-ul icon"></i>
            </div>
            <div class="ui icon button" title="Ordered list" data-markdown-action="ol">
                <i class="fa-list-ol icon"></i>
            </div>
            <div class="ui icon button" data-markdown-action="ruler" title="Horizontal ruler">
                <i class="minus icon"></i>
            </div>
        </div>
        <i class="separator">|</i>
        <div class="ui compact buttons">
            <div class="ui icon button" title="Insert link" data-markdown-action="link">
                <i class="fa-link icon"></i>
            </div>
            <div class="ui icon button" title="Insert image" data-markdown-action="image">
                <i class="image icon"></i>
            </div>
        </div>
        <i class="separator">|</i>
        <div class="ui compact icon button" data-markdown-action="preview" title="Preview">
            <i class="eye icon"></i>
        </div>
        <i class="separator">|</i>
        <div class="ui compact icon button" data-markdown-action="guide" title="View markdown guide">
            <i class="fa-question-circle icon"></i>
        </div>
    </div>
    <textarea class="markdown" name="Content" value="@Model.Content" placeholder="Content...">@Model.Content</textarea>
    <div class="markdown-preview" style="display: none;"></div>
</div>