@model IMarkdownContent

<environment names="Development">
    <link rel="stylesheet" href="lib/simplemde/debug/simplemde.css" />
</environment>
<environment names="Staging, Production">
    <link rel="stylesheet" href="lib/simplemde/dist/simplemde.min.css"
          asp-fallback-href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css" />
</environment>

<div class="markdown-editor" data-markdown-action="@ViewData[ViewDataKeys.MarkdownAction]">
    <textarea asp-for="Content" placeholder="Content..."></textarea>
</div>

<environment names="Development">
    <script src="~/lib/simplemde/debug/simplemde.js"></script>
    <script src="~/js/shared/markdown-editor.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/js/shared/markdown-editor.min.js"
            asp-append-version="true"></script>
    <script src="~/lib/simplemde/dist/simplemde.min.js"
            asp-fallback-src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</environment>