<a class="brand item" asp-controller="Home" asp-action="Index">
    Selama
</a>
<a class="item active" asp-controller="Home" asp-action="Index">
    Home
</a>
<a class="item">
    Forums
</a>
<a class="item">
    Sign in
</a>
<a class="item">
    Register
</a>