<a class="item active" asp-controller="Home" asp-action="Index">
    <i class="fa fa-home"></i> Home
</a>
<a class="item">
    <i class="fa fa-comment"></i> Forums
</a>
<a class="item" asp-area="Account" asp-controller="Home" asp-action="SignIn">
    <i class="fa fa-sign-in"></i> Sign in
</a>
<a class="item" asp-area="Account" asp-controller="Home" asp-action="Register">
    <i class="fa fa-pencil-square-o"></i> Register
</a>