<a class="item" asp-area="" asp-controller="Home" asp-action="Index" guilded-route-active>
    <i class="fa fa-home"></i> Home
</a>
<a class="item">
    <i class="fa fa-comment" guilded-route-active></i> Forums
</a>
@if (User.Identity.IsAuthenticated)
{
    <form method="post" id="sign-out-form" asp-area="Account" asp-controller="Home" asp-action="SignOut">
        <a href="javascript:document.getElementById('sign-out-form').submit()" class="item">
            <i class="fa fa-sign-out"></i> Sign out
        </a>
    </form>
}
else
{
    <a class="item" asp-area="Account" asp-controller="Home" asp-action="SignIn" guilded-route-active>
        <i class="fa fa-sign-in"></i> Sign in
    </a>
    <a class="item" asp-area="Account" asp-controller="Home" asp-action="Register" guilded-route-active>
        <i class="fa fa-pencil-square-o"></i> Register
    </a>
}