<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Selama_SPA</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='fa fa-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class='fa fa-calculator'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/forums']">
                        <span class="fa fa-comment"></span> Forums
                    </a>
                </li>
                <li *ngIf="!isLoggedIn" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/account/sign-in']">
                        <span class="fa fa-sign-in"></span> Sign in
                    </a>
                </li>
                <li *ngIf="!isLoggedIn" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/account/register']">
                        <span class="fa fa-pencil-square-o"></span> Register
                    </a>
                </li>
                <li *ngIf="isLoggedIn" style="cursor: pointer;">
                    <a (click)="logOut">
                        <span class="fa fa-sign-out"></span> Sign out
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
