li
{
    .fa,
    .glyphicon
    {
        margin-right: 10px;
    }

    &.link-active
    {
        a
        {
            &,
            &:hover,
            &:focus
            {
                background-color: #4189C7;
                color: white;
            }
        }
    }
}

.main-nav
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    @media(min-width: 768px)
    {
        height: 100%;
        width: calc(25% - 20px);   
    }
}

@media(min-width: 768px)
{
    .navbar
    {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;

        ul
        {
            float: none;
        }

        li
        {
            float: none;
            font-size: 15px;
            margin: 6px;

            a
            {
                padding: 10px 16px;
                border-radius: 4px;
            }
        }

        a
        {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .navbar-header
    {
        float: none;
    }
    .navbar-collapse
    {
        border-top: 1px solid #444;
        padding: 0px;
    }
    
}