@model ChangeRoleViewModel
@{
    var userRoles = ViewData[ViewDataKeys.UserRolesSelectList] as IEnumerable<SelectListItem> ??
                    new List<SelectListItem>();
}

<form class="ui form" asp-antiforgery="true">
    <div class="content">
        <input asp-for="UserId"/>
        <div class="field">
            <label asp-for="OldRoleId"></label>
            <div id="oldRoleName"></div>
        </div>
        <div class="field">
            <label asp-for="NewRoleId"></label>
            <select class="ui search dropdown" asp-for="NewRoleId" asp-items="userRoles">
            </select>
        </div>
    </div>
    <div class="actions">
        <button type="submit" class="ui primary button">
            Submit
        </button>
        <div class="ui red cancel button">
            Cancel
        </div>
    </div>
</form>