.padded {
  padding: 15px;
}

.form-horizontal md-input-container {
  width: 100%;
  margin-bottom: 14px;
}

.form-horizontal .form-group md-checkbox,
.form-horizontal .form-group button[md-raised-button] {
  margin-left: 16px;
  margin-bottom: 14px;
}

.form-horizontal .form-group md-checkbox {
  display: inline-block;
}
