<h2>
    Register
</h2>
<div class="padded col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <h4>
        Create a new account
    </h4>
    <form class="form-horizontal" (ngForm)="register()">
        <div class="form-gorup text-danger" [ngClass]="{ 'hidden': !formErrors.Model.length }">
            <div *ngFor="let error of formErrors.Model">
                {{ error }}
            </div>
        </div>
        <div class="form-group">
            <md-input-container>
                <input md-input placeholder="Username" required [(ngModel)]="user.Username" name="Username" />
            </md-input-container>
            <div class="text-danger" [ngClass]="{ 'hidden': !formErrors.Username.length }">
                <div *ngFor="let error of formErrors.Username">
                    {{ error }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <md-input-container>
                <input md-input placeholder="Email" type="email" required [(ngModel)]="user.Email" name="Email" />
            </md-input-container>
            <div class="text-danger" [ngClass]="{ 'hidden': !formErrors.Email.length }">
                <div *ngFor="let error of formErrors.Email">
                    {{ error }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <md-input-container>
                <input md-input placeholder="Password" type="password" required [(ngModel)]="user.Password" name="Password" />
            </md-input-container>
            <div class="text-danger" [ngClass]="{ 'hidden': !formErrors.Password.length }">
                <div *ngFor="let error of formErrors.Password">
                    {{ error }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <md-input-container>
                <input md-input placeholder="Confirm Password" type="password" required [(ngModel)]="user.ConfirmPassword" name="ConfirmPassword" />
            </md-input-container>
            <div class="text-danger" [ngClass]="{ 'hidden': !formErrors.ConfirmPassword.length }">
                <div *ngFor="let error of formErrors.ConfirmPassword">
                    {{ error }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" md-raised-button [disabled]="isLoading">
                Register
            </button>
        </div>
    </form>
</div>
<div class="padded col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <h4>
        Register with another service
    </h4>
</div>