<h2>
    Log in
</h2>
<div class="padded col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <h4>
        Log in using a local account
    </h4>
    <hr />
    <form (ngSubmit)="logIn()" class="form-horizontal">
        <div class="alert alert-danger" [ngClass]="{ 'hidden': !formErrors.Model.length }">
            <div *ngFor="let error of formErrors.Model">
                {{ error }}
            </div>
        </div>
        <md-input-container>
            <input md-input placeholder="Email" type="email" [(ngModel)]="user.Email" name="Email" required />
        </md-input-container>
        <md-input-container>
            <input md-input placeholder="Password" type="password" [(ngModel)]="user.Password" name="Password" required />

        </md-input-container>
        <div class="form-group">
            <md-checkbox [(ngModel)]="user.RememberMe" name="RememberMe">Remember me?</md-checkbox>
        </div>
        <div class="form-group">
            <button type="submit" md-raised-button [disabled]="isLoading">
                Log in
            </button>
        </div>
    </form>
</div>
<div class="padded col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <h4>
        Log in with another service
    </h4>
    <hr />
    Things like OAuth buttons
</div>