@{
    ViewData[ViewDataKeys.Title] = "Home";
}

<div class="ui extra large animated relaxed divided list">
    <a class="item" asp-area="Admin" asp-controller="Roles" asp-action="Index"
       required-claim="@RoleClaimValues.RoleManagement">
        <div class="header">
            Role Management
        </div>
        <div class="description">
            Create new roles, and edit existing ones
        </div>
    </a>
    <a class="item" asp-area="Admin" asp-controller="Users" asp-action="Index"
       required-claim="@RoleClaimValues.UserManagement">
        <div class="header">
            User Management
        </div>
        <div class="description">
            Manage users
        </div>
    </a>
    <div class="item">
        <div class="header">
            Forums Management
        </div>
        <div class="description">
            Manage various sections and forums
        </div>
    </div>
</div>