@{
    ViewData["Title"] = "Home";
}

<div class="ui extra large animated relaxed divided list">
    <a class="item" asp-area="Admin" asp-controller="Roles" asp-action="Index">
        <div class="header">
            Role Management
        </div>
        <div class="description">
            Create new roles, and edit existing ones
        </div>
    </a>
    <div class="item">
        <div class="header">
            Forums Management
        </div>
        <div class="description">
            Manage various sections and forums
        </div>
    </div>
</div>