@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<h4>@ViewData["Title"].</h4>

<form asp-area="Account" asp-controller="Manage" asp-action="ChangePassword" method="post" class="ui form">
    <div asp-validation-summary="All" class="ui raised warning segment"></div>
    <div class="field">
        <label asp-for="OldPassword"></label>
        <div class="ui left icon input">
            <input asp-for="OldPassword" />
            <i class="icon asterisk"></i>
        </div>
        <span asp-validation-for="OldPassword" class="ui raised pointing warning label"></span>
    </div>
    <div class="field">
        <label asp-for="NewPassword"></label>
        <div class="ui left icon input">
            <input asp-for="NewPassword" />
            <i class="icon asterisk"></i>
        </div>
        <span asp-validation-for="NewPassword" class="ui raised pointing warning label"></span>
    </div>
    <div class="field">
        <label asp-for="ConfirmPassword"></label>
        <div class="ui left icon input">
            <input asp-for="ConfirmPassword" />
            <i class="icon asterisk"></i>
        </div>
        <span asp-validation-for="ConfirmPassword" class="ui raised pointing warning label"></span>
    </div>
    <button type="submit" class="ui primary button">Change password</button>
</form>

@section Scripts {
    @{ await Html.ValidationScripts(); }
}
