@model SetPasswordViewModel
@{
    ViewData["Title"] = "Set Password";
}

<p class="text-info">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>

<h4>Set your password</h4>
<form class="ui form" asp-area="Account" asp-controller="Manage" asp-action="SetPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <div asp-validation-summary="All" class="ui raised warning segment"></div>
    <div class="field">
        <label asp-for="NewPassword"></label>
        <div class="ui left icon input">
            <input asp-for="NewPassword" />
            <i class="icon asterisk"></i>
        </div>
        <span asp-validation-for="NewPassword" class="ui raised pointing warning label"></span>
    </div>
    <div class="field">
        <label asp-for="ConfirmPassword"></label>
        <div class="ui left icon input">
            <input asp-for="ConfirmPassword" />
            <i class="icon asterisk"></i>
        </div>
        <span asp-validation-for="ConfirmPassword" class="ui raised pointing warning label"></span>
    </div>
    <button type="submit" class="ui primary button">Set password</button>
</form>

@section Scripts {
    @{ await Html.ValidationScripts(); }
}
