@model VerifyPhoneNumberViewModel
@{
    ViewData["Title"] = "Verify Phone Number";
}

<h4>Add a phone number.</h4>
<form class="ui form" asp-area="Account" asp-controller="Manage" asp-action="VerifyPhoneNumber" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <input asp-for="PhoneNumber" type="hidden" />
    <h5>@ViewData["Status"]</h5>
    <div asp-validation-summary="All" class="ui raised warning segment"></div>
    <div class="field">
        <label asp-for="Code"></label>
        <div class="ui left icon input">
            <input asp-for="Code" />
            <i class="icon code"></i>
        </div>
        <span asp-validation-for="Code" class="ui raised pointing warning label"></span>
    </div>
    <button type="submit" class="ui button primary">Submit</button>
</form>

@section Scripts {
    @{ await Html.ValidationScripts(); }
}
